@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600&family=Plus+Jakarta+Sans:wght@500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  /* Colors - Option C */
  --color-primary-dark: #0B2545;
  --color-primary-light: #D1E8E2;
  --color-bg-main: #F8F9FA;
  --color-accent: #2A9D8F;

  /* Fonts */
  --font-heading: 'Plus Jakarta Sans', sans-serif;
  --font-body: 'DM Sans', sans-serif;
}

:root {
  --color-text-primary: #022428;
  --color-text-secondary: #4A6568;

  --shadow-sm: 0 1px 3px rgba(3, 54, 61, 0.1);
  --shadow-md: 0 4px 6px -1px rgba(3, 54, 61, 0.1), 0 2px 4px -1px rgba(3, 54, 61, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(3, 54, 61, 0.1), 0 4px 6px -2px rgba(3, 54, 61, 0.05);

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-xl: 24px;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-bg-main);
  color: var(--color-text-primary);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-noise {
  background-color: #F7F5EE;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 600;
  line-height: 1.2;
}